@import 'variables';
// html, body {
//   width: 100%;
//   max-width: 100%;
// }

// .container.fill-height>.row {
//   max-width: 100%!important;
// }

// .container,
// .container--fluid,
// .container.fill-height {
//   padding: 0!important;
// }

// .v-main {
//   padding-top: 50px !important;
// }

h1, h2, h3, h4, h5, p {
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0.02em;
}
h1 {
  font-size: 46px;
  font-family: 'Gilroy';
  font-weight: 600;
}
h2 {
  font-size: 26px;
  font-family: 'Gilroy';
  font-weight: 600;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 24px;
  font-weight: normal;
}

p {
  font-size: 16px;
  font-weight: normal;
}
a {
  text-decoration: none;
}

// .row {
//   margin-left: 0!important;
//   margin-right: 0!important;
// }

// @media (min-width: 1900px) {
//   .card-wrapp{
//     max-width: 50%!important;
//   }
// }

// ===================================================== BUTTONS =======================================================================

// .v-btn .button-type-one {
//   padding: 15px;
//   width: 200px;
//   outline: none !important;
//   border: 1px solid var(--base-red-color-2);
//   border-radius: 5px;
//   background: var(--base-white-color);
//   color: var(--base-red-color-2);
//   transition: 0.2s all;
//   &:hover {
//     background: var(--base-red-color-2);
//     color: var(--base-white-color);
//     transition: 0.2s all;
//   }
//   &:active {
//     background: var(--base-red-color-1);
//     border-color: var(--base-red-color-1);
//     color: var(--base-white-color);
//     transition: 0.2s all;
//   }
// }

/* Button red bgc */

.v-btn {
  font-size: 14px;
  font-family: 'Gilroy';
}

// .v-btn__content {
//   font-size: 14px;
//   font-weight: 200;
//   line-height: 14px;
// }


// .v-application--wrap {
//   background-color: #424242;
// }
.v-text-field .v-label {
  font-size: 14px;
  font-family: 'Gilroy';
  font-weight: 700;
  // text-decoration-color: #000;
}
// table {
//   border-spacing:0;
// }
td{
  font-family: 'Gilroy';
}

// .v-text-field input {
//   padding-left: 5px;
// }
// .v-tab.v-tab {
//   font-family: 'bebas_neueregular';
//   font-size: 16px;
//   font-weight: 700;
// }

.v-sheet.v-card {
  border-radius: 0;
}


// ======================================================== STEPPER ======================================================================

// .v-stepper__header{
//   background-color: #F3F3F3;
// }

// .v-stepper--alt-labels .v-stepper__step {
//   flex-basis: 55px;
// }

// .v-stepper__step__step .v-icon.v-icon {
//   font-size: 10px;
// }

// .v-stepper__step {
//   padding: 24px 0;
// }

// .v-stepper__step__step {
//   height: 14px;
//   min-width: 14px;
//   width: 14px;
// }

// .theme--light.v-stepper .v-stepper__step:not(.v-stepper__step--active):not(.v-stepper__step--complete):not(.v-stepper__step--error) .v-stepper__step__step {
//     background: unset;
//     // border: 1px solid $defaultStepLine;
// }
// .v-stepper--alt-labels .v-stepper__header .v-divider {
//     margin: 31px -21px;
// }
// // .complete {
// //   background-color: $activeStepLine;
// // }
// .v-stepper, .v-stepper__header {
//   box-shadow: unset;
// }
.theme--light.v-treeview--hoverable .v-treeview-node__root:hover::before, .theme--light.v-treeview .v-treeview-node--click > .v-treeview-node__root:hover::before {
  opacity: 0;
}